@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins';
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
i {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}